@charset "UTF-8";
@font-face {
  font-family: 'BigJohn';
  src: url("../fonts/BigJohn.otf"); }

@font-face {
  font-family: 'Amble';
  src: url("../fonts/Amble-Bold.ttf"); }

@font-face {
  font-family: 'Amble';
  src: url("../fonts/Amble-Light.ttf"); }

@font-face {
  font-family: 'Amble';
  src: url("../fonts/Amble-Italic.ttf"); }

@font-face {
  font-family: 'Amble';
  src: url("../fonts/Amble-LightItalic.ttf"); }

@font-face {
  font-family: 'Amble';
  src: url("../fonts/Amble-Regular.ttf"); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 10px;
        height: 10px;
        font-family: "slick";
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        background-color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border-radius: 50%; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@media only screen and (min-width: 0) {
  [class*="col-xs"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xs-offset-1 {
    margin-left: 8.33333%; }
  .col-xs-offset-2 {
    margin-left: 16.66667%; }
  .col-xs-offset-3 {
    margin-left: 25%; }
  .col-xs-offset-4 {
    margin-left: 33.33333%; }
  .col-xs-offset-5 {
    margin-left: 41.66667%; }
  .col-xs-offset-6 {
    margin-left: 50%; }
  .col-xs-offset-7 {
    margin-left: 58.33333%; }
  .col-xs-offset-8 {
    margin-left: 66.66667%; }
  .col-xs-offset-9 {
    margin-left: 75%; }
  .col-xs-offset-10 {
    margin-left: 83.33333%; }
  .col-xs-offset-11 {
    margin-left: 91.66667%; }
  .col-xs-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 575px) {
  [class*="col-sm"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 768px) {
  [class*="col-md"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1025px) {
  [class*="col-lg"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1200px) {
  [class*="col-xl"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1440px) {
  [class*="col-xxl"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px; }
  .col-xxl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xxl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xxl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xxl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xxl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xxl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xxl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xxl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xxl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xxl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xxl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xxl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xxl-offset-1 {
    margin-left: 8.33333%; }
  .col-xxl-offset-2 {
    margin-left: 16.66667%; }
  .col-xxl-offset-3 {
    margin-left: 25%; }
  .col-xxl-offset-4 {
    margin-left: 33.33333%; }
  .col-xxl-offset-5 {
    margin-left: 41.66667%; }
  .col-xxl-offset-6 {
    margin-left: 50%; }
  .col-xxl-offset-7 {
    margin-left: 58.33333%; }
  .col-xxl-offset-8 {
    margin-left: 66.66667%; }
  .col-xxl-offset-9 {
    margin-left: 75%; }
  .col-xxl-offset-10 {
    margin-left: 83.33333%; }
  .col-xxl-offset-11 {
    margin-left: 91.66667%; }
  .col-xxl-offset-12 {
    margin-left: 100%; } }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

[class^='col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px; }

body {
  font-family: sans-serif;
  font-size: 1rem;
  color: #222222; }

a, button {
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: color, background-color, opacity;
  -o-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity; }
  a svg, button svg {
    fill: currentColor; }

button, .button {
  cursor: pointer; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.ba-header {
  position: relative;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(213, 110, 78, 0.8)), to(rgba(236, 163, 75, 0.8))), url(../img/hero-bg.png) 50% no-repeat;
  background: -webkit-linear-gradient(bottom right, rgba(213, 110, 78, 0.8), rgba(236, 163, 75, 0.8)), url(../img/hero-bg.png) 50% no-repeat;
  background: -o-linear-gradient(bottom right, rgba(213, 110, 78, 0.8), rgba(236, 163, 75, 0.8)), url(../img/hero-bg.png) 50% no-repeat;
  background: linear-gradient(to top left, rgba(213, 110, 78, 0.8), rgba(236, 163, 75, 0.8)), url(../img/hero-bg.png) 50% no-repeat;
  background-size: cover;
  min-height: 100vh; }
  .ba-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px; }
  .ba-header__scroll {
    position: absolute;
    width: 30px;
    height: 48px;
    bottom: 61px;
    left: 50%;
    margin-left: -15px; }
    .ba-header__scroll:hover {
      opacity: .5; }

.menu {
  text-align: right; }
  .menu__link {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none; }
  .menu__link:hover {
    text-decoration: underline; }
  .menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer; }
    .menu__icon span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .menu__icon span:nth-child(1) {
      top: 0px; }
    .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
      top: 13px; }
    .menu__icon span:nth-child(4) {
      top: 26px; }

@media screen and (max-width: 999px) {
  .menu__icon {
    display: inline-block;
    z-index: 10; }
  .menu {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto; }
    .menu__link {
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #ffffff; } }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__links {
  display: block; }

.hero {
  width: 660px;
  height: 190px;
  margin-left: auto;
  margin-right: auto; }
  .hero__title {
    display: block;
    font-family: 'BigJohn', Arial, sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 47px; }
  .hero__line_white {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px; }
  .hero__text {
    display: block;
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff; }

.ba-introduction {
  height: 500px;
  background-color: #fff; }

.ba-intro-block {
  display: block;
  width: 770px;
  height: 276px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 105px; }
  .ba-intro-block__title {
    display: block;
    font-family: 'BigJohn', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 47px; }
  .ba-intro-block__line_black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
    margin-bottom: 65px; }
  .ba-intro-block__text {
    display: block;
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 36px;
    text-align: center; }

.ba-pure-creativity {
  position: relative;
  width: auto;
  height: 500px;
  background: #282522 url(../img/keyboard.png) 50% no-repeat; }
  .ba-pure-creativity:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #222222;
    opacity: 0.4; }
  .ba-pure-creativity__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto; }

.btn-white {
  background-color: transparent;
  width: 430px;
  height: 100px;
  border: 3px solid #fff;
  color: white;
  z-index: 5;
  font-family: 'Amble', Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 2;
  letter-spacing: 0.04em; }
  .btn-white:hover {
    -webkit-box-shadow: inset 0 0 0 5px #fff;
    box-shadow: inset 0 0 0 5px #fff; }
  .btn-white:active {
    opacity: .5; }

.ba-our-work {
  /* height: 1479px; */
  padding-top: 120px; }
  .ba-our-work__title {
    font-family: 'BigJohn', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase; }
  .ba-our-work__line_black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
    margin-bottom: 65px; }
  .ba-our-work__btn {
    display: block;
    width: 370px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
    margin-bottom: 80px;
    background-color: transparent;
    border: 3px solid #222222;
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase; }

/* .gallery{
  
} */
/* .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 5vw);
  grid-gap: 1.5rem; 
} */
/* .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
} */
/* .gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
 } */
/* .gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
 } */
/* .gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
 } */
/* .gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
 } */
/* .gallery__item--5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
 } */
/* .gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
 } */
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 670px;
  margin-left: auto;
  margin-right: auto; }

.button {
  background-color: transparent;
  border: none;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase; }
  .button:hover {
    color: #d87843; }

.is-checked {
  font-weight: 700; }

.button + .button {
  margin: 19px; }

.item {
  margin-right: 20px;
  margin-bottom: 20px; }
  .item:nth-of-type(3n) {
    margin-right: 0; }

.ba-here-to-help {
  position: relative;
  width: auto;
  height: 500px;
  background: #282522 url(../img/here_to_help.png) 50% no-repeat; }
  .ba-here-to-help:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #222222;
    opacity: 0.4; }
  .ba-here-to-help__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto; }

.our-clients {
  height: 500px;
  background: #f4f4f4 url(../img/clients.png) 50% no-repeat;
  padding-top: 105px; }
  .our-clients__title {
    font-family: 'BigJohn', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 59px; }
  .our-clients__line_black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 103px; }
  .our-clients__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.about-us {
  height: 901px;
  padding-top: 105px; }
  .about-us__title {
    font-family: 'BigJohn', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px; }
  .about-us__line_black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 103px; }
  .about-us__text {
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 69px; }
  .about-us__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .about-us__member {
    background-color: #e9e9e9; }

.ba-video {
  height: 500px; }

.ba-choose-us {
  height: 960px;
  padding-top: 120px; }
  .ba-choose-us__title {
    font-family: 'BigJohn', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px; }
  .ba-choose-us__line_black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 68px; }
  .ba-choose-us__text {
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 93px; }
  .ba-choose-us__item {
    width: 370px; }
  .ba-choose-us__img-wrapper {
    height: 151px; }
  .ba-choose-us__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px; }
  .ba-choose-us__item-title {
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 37px; }
  .ba-choose-us__item-text {
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 93px; }

.orange-txt {
  color: #d87843; }

.slick-active {
  width: 22px;
  height: 22px; }

.ba-get-a-quote-now {
  position: relative;
  width: auto;
  height: 500px;
  background: #282522 url(../img/quote.png) 50% no-repeat; }
  .ba-get-a-quote-now:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #222222;
    opacity: 0.4; }
  .ba-get-a-quote-now__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto; }

.get-in-touch {
  /* height: 1000px; */
  padding-top: 120px; }

.info {
  height: 500px; }
  .info__title {
    font-family: 'BigJohn', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px; }
  .info__line_black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 68px; }
  .info__text {
    font-family: 'Amble', Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 93px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px; }
  .contact__location {
    height: 500px;
    width: 38.44%;
    background: #f2f2f2 url(../img/location-bg.png) no-repeat;
    padding-top: 105px;
    padding-left: 215px; }
    .contact__location h3 {
      font-family: 'BigJohn', Arial, sans-serif;
      font-weight: 400;
      font-size: 30px;
      line-height: 2;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-bottom: 59px; }
    .contact__location address {
      font-family: 'Amble', Arial, sans-serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0;
      margin-bottom: 35px; }
    .contact__location div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 250px;
      height: 40px; }
      .contact__location div svg {
        width: 32px;
        height: 32px;
        fill: #222222; }
      .contact__location div svg:hover {
        fill: #d87843; }
  .contact__form {
    height: 500px;
    width: 61.56%;
    background: #e4e4e4 url(../img/form-bg.png) no-repeat;
    padding-top: 100px;
    padding-left: 100px; }
    .contact__form input {
      width: 300px;
      height: 40px;
      padding-left: 30px;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #afafaf; }
    .contact__form textarea {
      width: 670px;
      height: 40px;
      padding-left: 30px;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #afafaf;
      margin-bottom: 40px; }
    .contact__form input + input {
      margin: 63px; }
    .contact__form button {
      display: block;
      width: 183px;
      height: 60px;
      margin-right: 215px;
      margin-left: auto;
      background-color: transparent;
      border: 3px solid #222222;
      font-family: 'Amble', Arial, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 60px;
      letter-spacing: 0.04em;
      text-align: center; }

.ba-footer {
  background: #222222 url(../img/footer-bg.png) 50% no-repeat;
  height: 360px;
  padding-top: 100px; }
  .ba-footer__logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 68px; }
  .ba-footer__copyright {
    display: block; }
    .ba-footer__copyright p {
      font-family: 'Amble', Arial, sans-serif;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.04em;
      text-align: center;
      color: #fff; }
    .ba-footer__copyright span {
      color: #d87843; }

/*# sourceMappingURL=app.css.map */